<div class="container">
  <div class="title">
    Choose Category
  </div>
  <div class="category-container">
    <div *ngFor="let category of categories">
      <button class="category-button" [routerLink]="['/quiz',category]">
        {{ category }}
      </button>
    </div>
  </div>
</div>
