.container{
    height:100%;
    width:100%;
}
.category-container{
    margin-top:24px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    text-align: center;
    font-size:40pt;
    font-weight:bold;
    margin-top:5%;
}
.category-button{
    padding:16px 40px;
    border-width: 0px;
    margin:8px;
    border-radius:4px;
    font-size:16pt;
    color:white;
    background: blue;
}