.level-button{
    padding:16px 32px;
    border-radius:16px;
    margin-top:24px;
    font-size:16pt;
    color:white;
    margin:24px 4px;
    border-width: 0px;
}
.beginner{
    background: green;
}
.intermediate{
    background: orange;
}
.hard{
    background:red;
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-family:'Century Gothic'
}
.title{
    text-align: center;
    font-size:40pt;
    font-weight:bold;
    margin-top:5%;
}