<div class="container">
  <div class="title">
    Choose Level
  </div>
  <div class="level-container">
    <button class="level-button beginner" [routerLink]="['/play',{category:category,level:'beginner'}]">Beginner</button>
    <button class="level-button intermediate" [routerLink]="['/play',{category:category,level:'intermediate'}]">Intermediate</button>
    <button class="level-button hard" [routerLink]="['/play',{category:category,level:'hard'}]">Hard</button>
  </div>
</div>