<div class="container">
  <div class="category">
    {{category}}<br>{{level}}
  </div>
  <div class="timer">
    {{ timer }}
  </div>
  <div class="score">
    Score : {{ score }}
  </div>
  <div class="question">
    <div *ngFor="let word of words" class="word">
      {{ word | uppercase }}
    </div>
  </div>
  <!-- <form (submit)="onSubmit()"> -->
  <div class="input-container">
    <input [(ngModel)]="answer" class="inputAnswer" placeholder="Answer here"/>
    <button class="button" (click)="checkAnswer()">Check</button>
  </div>
  <!-- </form> -->
  <div>
  </div>
</div> 
<div *ngIf="timer == 0" class="modal-timeout">
  <div class="card">
    <div class="title margin-bottom-24">Timeout</div>
    <div class="score-text">Score : {{score}}</div>
    <div class="score-text">Highscore : {{highscore}}</div>
    <div class="flex-direction-row">
      <button class="modal-button" (click)="timer = 60;score = 0;startTimer()">Try Again</button>
      <button class="modal-button" [routerLink]="['/']">Back to Home</button>
    </div>
  </div>
</div>