.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-family:'Century Gothic'
}
.question{
    display:flex;
    flex-direction: row;
}
.word{
    padding:16px 24px;
    margin:0px 4px;
    color:white;
    background-color:red;
    border-radius:4px;
    font-weight:bold;
    font-size:24pt;
}
.inputAnswer , .button{
    padding:16px 32px;
    border-width:0px;
    font-size:12pt;
}
.button{
    background-color:green;
    color:white;
}
.inputAnswer{
    background:#eeeeee;
}
.timer{
    padding:16px 32px 24px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    font-size:32pt;
    color:white;
    font-weight: bold;
    background:red;
}
.input-container{
    margin-top:24px;
}
.score{
    padding:8px 12px;
    font-size:16pt;
    margin-top:80px;
    margin-bottom:12px;
}

.modal-timeout{
    flex:1;
    position:fixed;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    display:flex;
    align-self: stretch;
    background-color: rgba(0,0,0,0.8);
    align-items: center;
    justify-content: center;
}
.card{
    padding:40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border-radius:4px;
    background: #ffffff;
}
.title{
    font-size:24pt;
}
.margin-bottom-24{
    margin-bottom:24px;
}
.flex-direction-row{
    flex-direction:row;
}
.modal-button{
    padding:16px 32px;
    margin:24px 4px 0px;
    border-width:0px;
}
.category{
    position:absolute;
    top:24px;
    left:24px;
}