.container{
    width:100%;
    height:100%;
}
.game-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.game-title{
    margin-top:10%;
    text-align:center;
    font-size:40pt;
    font-weight:bold;
}
.button-play{
    margin-top:24px;
    padding:16px 60px;
    border-radius:4px;
    background:green;
    color:white;
    font-size:24pt;
    border-width: 0px;

}