<div class="container">
  <div class="game-container">
    <div class="game-title">
      Guess<br/>The Word
    </div>
    <div>
      <button [routerLink]="['/quiz']" class="button-play">Play</button>
    </div>
  </div>
</div>